escape Path key with URL (encoding)

When using the "move to trash" from the GUI in XFCE, it seems that when deleting a file with spaces in it, a %20 will replace the space when it writes the filename to .trashinfo.

If rmw restores it, it will have a %20 replacing the space in it's name.

Same thing happens with KDE 5, I assume it's because according to the [freedesktop.org Trash specification](https://specifications.freedesktop.org/trash-spec/trashspec-latest.html):
 
> The value type for this key is “string”; it SHOULD store the file name as the sequence of bytes produced by the file system, with characters escaped as in URLs (as defined by RFC 2396, section 2).

So not only should rmw be converting `%20` to spaces when reading. It should also escape the `path` key in the .trashinfo as if it were a URL.

@blah1898 Thanks for reminding me of this issue. I just pushed some changes. I added a function that will convert the %20 to a space. I skimmed through the info you gave me. I can't claim to really understand it all that well, but for the purpose of this discussion, you are saying that when rmw write the .trashinfo, I need to to the reverse: convert spaces to %20?

I'm hoping I can just modify my new convert_space() function and change all the + signs to minuses ;)

It's actually a little more complicated than that. We are supposed to not only convert spaces to "%20", we need to escape everything that is not a letter (`a-z A-Z`), not a number (`0-9`), nor any of the following: `~ . - _`. If you delete a file with any other symbols in the name, you'll see the same behaviour you saw with the space.

We need to escape when writing the .trashinfo and unescape when reading. It's one additional step when reading/writing.

I would like to work with this. However, I will be busy this week so I would start working on it next weekend.

(also if you're lazy you can just use the cURL library and use [curl_easy_escape](https://curl.haxx.se/libcurl/c/curl_easy_escape.html) :) )

Ok, I am understanding you more now.

If you'd like to work with this, I'd be more than happy to accept another patch from you, @blah1898 It's np that it may take you a week or more.

I was thinking for fun I may write a function that will shift the elements of a char array one element to the right, starting at a specified position within the string. Like an "insert" mode. Do you think you'd have use for it when making the fix?

I tried curl, and it turned my /'s into %2Fs. I'd rather not have to include another dependency so I won't purse that right now. I'd much rather have your patch. ;)

I added that function I mentioned: [insert_str_at_pos()](https://github.com/andy5995/rmw/commit/48ad122dbc5db9a170f518cbcbcddedfe0943024#diff-ec6fcf84495258e4d9ce2d4b42996197R288)

This patch by @blah1898 was merged (#42)

I'll examine it more and figure out how to integrate it into purge(). I think once that's all that's needed before this ticket is closed.

My mistake; purge() doesn't need changing. Thanks for the patch @blah1898.

Closed.